html {
    font-family: 'Manrope', sans-serif;
    color: white;
}

.case {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: rgb(36, 36, 36);
    border: 2px solid rgb(146, 146, 146);
    border-radius: 50px;
    margin: 3rem;
    padding: 3rem;

    width: 30rem;

}

.loading {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

.loading_label {
    font-size: 3rem;
}

.letterSpace5 {
    letter-spacing: 5px;
}



a {
    text-decoration: none;
    color: white;

    transition: 0.5s;
}

a:hover {
    text-decoration-color: #FFFFFF00;
}

body {


    background-color: black;
}



.follower {
    margin: 0.3rem;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dottedUnderline {
    text-decoration: underline dotted white 1px;
    text-underline-offset: 4px;
}

.overUnderLined {
    border-top: 5px double white;
    border-bottom: 5px double white;
    padding: 0.2rem;
}

img {
    margin-top: 1rem;

    width: 250px;
    border-radius: 100%;

    border: 5px solid white;
}



.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pseudo {
    font-size: 2rem;
    font-weight: bold;
}